<div class="box">
  <% if user_signed_in?%>                     <!-- Open if else statement-->
    <h2>Items for <%= current_user.name %></h2>
    <% @items.each do |item| %><!-- Open DO Itemlist -->  

      <% if item.completed? %> <!-- Open if else statement 2 -->
        <div class="row item">
          <div class="col-md-8">
            <h3 style="opacity: 0.5;"><strike><%= link_to item.title, item %>:</strike></h3>
            <p style="opacity: 0.5;"><small><%= item.description %></small></p>
            <p style="opacity: 0.5;"><small>Completed <%= time_ago_in_words(item.completed_at)%> ago</small></p>
          </div>
         
          <div class="col-md-4 icon">
            <p><%= link_to item, method: :delete, data:{confirm: "are you sure?"} do%></p>
              <li class="fa fa-lg fa-trash"></li>
            <% end%>
          </div>
        </div>

      <% else %>
        <div class="row item">
          <div class="col-md-8 icon">
         
            <h3><%= link_to item.title, item %>:</h3>
            <p><small><%= item.description %></small></p>
            <p><small>Created at <%= time_ago_in_words(item.created_at)%> ago</small></p>
            <p><small>Time left to complete task: <%= (((item.created_at + 7.days) - item.created_at) / 86400).floor %> days</small></p>
          </div>
          <div class="col-md-4 icon">
            <p><%= link_to complete_item_path(item), method: :patch do %></p>
              <i class="fa fa-lg fa-check"></i>
            <% end %>
          </div>
        </div>
      <% end %> <!-- closed if else statement 2 -->

      <% if item.expired? %><!-- Destroy expired Item -->
        <% item.destroy %>
      <% end %>

    <% end %> <!-- closed DO Itemlist -->  
    
  
  <% else %>                 
    <%= render 'layouts/static_landing_page'%>
  <% end %><!-- Close if else statement -->
</div>